body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Raleway", sans-serif;

}

.header {
	border-bottom: none;
	background-color: black;
	background-image: url("./images/bg.png");
	color: white;
	height: 12rem;
	padding: 1.5rem 6rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
    
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 5px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
    list-style: none;
}



.nav-item {
	margin-left: 3rem;
    text-decoration: none;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: 1px;
	font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    color: white
}

.nav-link:hover {
	/* color: #4CD4E0; */
	font-weight: 800;
	background: #7f7fd5;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav-logo{
    display: flex;
    flex-direction: column;
}

.nav-logo img {
	width: 3rem;
	height: 3rem;
	object-fit: contain;
	background-size: cover;
}

.nav-logo span {
	font-size: 1rem;
	text-align: center;
   
}

.header .navbar a{
    text-decoration: none;
    color: white;
   
}

#latest-events{
	width: 100%;
	background-image: url("./images/latest_events_bg.jpeg");
	background-size: contain;
	height: 110vh;
    padding-bottom: 10%;
    margin-top: -100px;
}

#latest-events .title {
	font-size: 3rem;
	margin: 0rem 0 4rem 0;
	font-weight: 800;
	font-family: "Raleway", sans-serif;
	background: linear-gradient(90deg, #8081D6 9.01%, #90E7E4 25.26%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    padding: 50px 50px 0;
}

.latest-events{
	display: flex;
	justify-content: center;
	align-items: center;
}

.latest-event{
	display: flex;
	flex-direction: row;
    justify-content: center;
	align-items: center;
	
    gap:100px
}

.latest-event-image{
	width: 330px;
}



.latest-event-desc{
	color: white;
    font-size: 14px;
	width: 420px;
	padding-left: 20px;
	margin-top: -90px;
}

.latest-event-para{
    
line-height: 22px;
/* or 93% */


color: #FFFFFF;

}


.latest-event-heading{
	font-size: 40px;
	font-weight: 900;
  
}

.registernow{
	margin-top: 10px;
	box-sizing: border-box;

	position: absolute;
	font-weight: 700;
	font-size: 15px;
	background: #000000;
	border-radius: 5.08312px;
	border: 1.45px solid #7f7fd5;

	background: linear-gradient(90deg, #8081D6 0.01%, #90E7E4 96.26%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 10px;

}

.registernowbtn{
   cursor: pointer;;
}


@media only screen and (max-width: 768px) {
    html {
		background-color: black;
        margin: 0;
        padding: 0;
	}

	.navbar-padding{
		padding: 10px 0;
	}

	.nav-menu {
		position: fixed;
		left: -100%;
		top: 10rem;
		bottom: 0;
		z-index: 100;
		background-image: url(./images/radial.png);
		flex-direction: column;
		justify-content: flex-start;
		background-color: black;
		width: 100%;
		color: white;
		padding: 20px 65px;
		align-items: flex-start;
		text-align: start;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}

	.nav-menu.active {
		left: 0;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		color: white;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
		background-color: #7f7fd5;
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
		background-color: #7f7fd5;
	}

	.global-padding {
		padding: 0 40px;
	}

	.global-button {
		min-width: 10rem;
		background-color: black;
		padding: 15px;
		text-align: center;
		border: 3px solid #91eae4;
		font-size: 1.5rem;
		font-weight: 700;
		border-radius: 10px;
		transition: 0.4s ease;
		color: #7f7fd5;
	}

	.global-button:hover {
		min-width: 10rem;
		color: black;
		background-color: white;
		padding: 15px;
		text-align: center;
		border: 3px solid white;
		font-size: 1.5rem;
		font-weight: 700;
		border-radius: 10px;
	}

	.nav-logo img {
		width: 4rem;
		height: 4rem;
		object-fit: contain;
		background-size: contain;
	}

	.nav-logo span {
		font-size: 1.2rem;
		text-align: center;
	}
    .header{
        display: none;
    }

    .latest-event{
        
        flex-direction: column;
        
    }

     #latest-events{
        margin-bottom: 300px;
     }

    #latest-events .title{
        margin-top: 100px;
        font-size: 2.9rem;
        font-weight: 800;
       
    }


    .latest-event-desc{
        padding: 40px;
    }


	.registernow{
		margin-top: 30px;
	}
   
}

