body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Raleway", sans-serif;

}

.header {
	border-bottom: none;
	background-color: black;
	background-image: url("./images/bg.png");
	color: white;
	height: 12rem;
	padding: 1.5rem 6rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin:  0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
    
}

.nav-item {
	margin-left: 5rem;
   
}

.nav-menu {
     list-style-type: none ;
}

.nav-link {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 1px;
	font-weight: 800;
    background: #7f7fd5;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav-link:hover {
	/* color: #4CD4E0; */
	font-weight: 800;
	background: #7f7fd5;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav-logo img {
	width: 5rem;
	height: 5rem;
	object-fit: contain;
	background-size: cover;
}

.nav-logo span {
	font-size: 1.6rem;
	text-align: center;
}

#latest-events{
	width: 100%;
	background-image: url("./images/latest_events_bg.jpeg");
	background-size: contain;
	height: 100vh;
    padding-bottom: 10%;
    margin-top: -100px;
}

#latest-events .title {
	font-size: 3rem;
	margin: 0rem 0 4rem 0;
	font-weight: 800;
	font-family: "Raleway", sans-serif;
	background: linear-gradient(90deg, #8081D6 9.01%, #90E7E4 25.26%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    padding: 50px 50px 0;
}

.latest-events{
	display: flex;
	justify-content: center;
	align-items: center;
}

.latest-event{
	display: flex;
	flex-direction: row;
    justify-content: center;
	align-items: center;
	
    gap:100px
}

.latest-event-image{
	width: 330px;
}



.latest-event-desc{
	color: white;
    font-size: 14px;
	width: 420px;
	padding-left: 20px;
	margin-top: -90px;
}

.latest-event-para{
    
line-height: 22px;
/* or 93% */


color: #FFFFFF;

}


.latest-event-heading{
	font-size: 40px;
	font-weight: 900;
  
}

.registernow{
	margin-top: 10px;
	box-sizing: border-box;

	position: absolute;
	font-weight: 700;
	font-size: 15px;
	background: #000000;
	border-radius: 5.08312px;
	border: 1.45px solid #7f7fd5;

	background: linear-gradient(90deg, #8081D6 0.01%, #90E7E4 96.26%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 10px;

}

.registernowbtn{
   cursor: pointer;;
}


